<footer class="site-footer">

  <div class="container">

    <ul class="contact-list">
      <li>
        <a href="https://www.instagram.com/georgidoig/?hl=en">
      <div class="icon-white insta">
        <span class="link-spanner"></span>
      </div>
      </li>

      <li>
      <a href="https://twitter.com/GeorgiDoig">
      <div class="icon-white twitter"><span class="link-spanner"></span>
      </div>
        </a>
      </li>

      <li>
      <a href="https://uk.linkedin.com/in/georgi-doig-665b28102">
      <div class="icon-white linkedin"><span class="link-spanner"></span>
      </div>
        </a>
      </li>


      <li>
      <a href="mailto:georgi@projectresponsive.com">
      <div class="icon-white email"><span class="link-spanner"></span>
      </div>
        </a>
      </li>

  </ul>
  </div>
</footer>
