.icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin: 3px;
  background: $white;
}
.insta-white {
  background-color: $white;
  -webkit-mask-image: url("../images/insta.svg");
  mask-image: url("../images/insta.svg") no-repeat 50% 50%;
}
.twitter-white {
  background-color: $white;
  -webkit-mask-image: url("../images/twitter.svg");
  mask-image: url("../images/twitter.svg") no-repeat 50% 50%;
}
.linked-white {
  background-color: $white;
  -webkit-mask-image: url("../images/linked.svg");
  mask-image: url("../images/linked.svg") no-repeat 50% 50%;
}
.github-white {
  background-color: $white;
  -webkit-mask-image: url("../images/github.svg");
  mask-image: url("../images/github.svg") no-repeat 50% 50%;
}

.insta-black {
  background-color: $lightgrey;
}
.twitter-black {
    background-color: $black;
}
.linked-white {
    background-color: $black;
}
.github-white {
    background-color: $black;
}
