//main
main {
  // margin-left: 1em;
}
.home-proj {
  img {
    border: 0.1em solid black;
    max-width: 100%;
    max-height: 100%;
  }
}
// homepage
@include breakpoint($mobile) {
  .content {
    @include span(12);
    margin: 5px 0 0;
  }
  .home-art {
    @include span(5.5);
  }
  .home-proj {
    @include push(1);
    @include span(5.5);
  }
}
// blog home
.blog-list {
  @include span(12);
  padding: 5px;
}
.blog-post {
  padding: 5px;
}
// sidebar
.sidebar {
  @include span(3);
  border-right: 1px solid $green;
}
// post styles
.post-title {}
.post-meta {
  color: white;
  padding: 0.2em;
  color: $quiet-color;
}
.post-link {
  text-decoration: none;
  @extend .link;
}
.post-content {
  margin: 1em 0 0;
  img {
    height: 30%;
    width: 30%;
  }
}
.post-readmore {
  @extend .link;
  text-align: right;
  font-size: 0.7em;
}
// project styles
.project-card {
  margin: 10px;
  img {
    max-width: 100%;
    max-height: 100%;
  }

  p {
    margin: 0px;
  }
}
@include breakpoint($mobile) {
  .project-list {
    display: flex;
  }
  .project-card {
    @include span(4);
  }
}

/* social media icons  */

.contact-social {
  list-style: none;
  padding: 0;
  width: 30%;
  li {
    // display: inline-block;
  }
  p {

  }
}


/* link spannar  */
.link-spanner{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
  /* edit: fixes overlap error in IE7/8,
     make sure you have an empty gif
  background-image: url('empty.gif');*/
}

.contact-list {
  float:right;
}

.about-img {
  float: right;
  padding: 0 1em 1em 1em;
}

#about-list {
  margin-bottom: 2em;
}

.video-show {
  text-align: center;
  margin-top:  15px;
  margin-bottom: 15px;
}
