.contenta {
    background-attachment: fixed;
    height: 400px;
    width: 100%;
p{
  color: $white;
  font-size: 1.5em;
  margin: 0.2em;
  text-transform: uppercase;
}
}
#contenta1 {
    background-image: url("/portfolio/images/film/Crossroads.jpg");
    background-size: 100%;
}
#contenta2 {
    background-image: url("/portfolio/images/film/Crossroads1.jpg");
    background-size: 100%;
}
#contenta3 {
    background-image: url("/portfolio/images/film/Litterbugg.jpg");
    background-size: 100%;
}
#contenta4 {
    background-image: url("/portfolio/images/film/Litterbugg1.jpg");
    background-size: 100%;
}
#contenta5 {
    background-image: url("/portfolio/images/film/Litterbugg2.jpg");
    background-size: 100%;
}
#contenta6 {
    background-image: url("/portfolio/images/film/Oureyes.jpg");
    background-size: 100%;
}
#contenta7 {
    background-image: url("/portfolio/images/film/Oureyes1.jpg");
    background-size: 100%;
}
#contenta8 {
    background-image: url("/portfolio/images/film/Oureyes2.jpg");
    background-size: 100%;
}
#contenta9 {
    background-image: url("/portfolio/images/film/Oureyes3.jpg");
    background-size: 100%;
}
#contenta10 {
    background-image: url("/portfolio/images/film/Oureyes4.jpg");
    background-size: 100%;
}
#contenta11 {
    background-image: url("/portfolio/images/film/PeopleLTD.jpg");
    background-size: 100%;
}
#contenta12 {
    background-image: url("/portfolio/images/film/PeopleLTD1.jpg");
    background-size: 100%;
}
#contenta13 {
    background-image: url("/portfolio/images/film/PeopleLTD2.jpg");
    background-size: 100%;
}
#contenta14 {
    background-image: url("/portfolio/images/film/PeopleLTD3.jpg");
    background-size: 100%;
}
#contenta15 {
    background-image: url("/portfolio/images/film/PeopleLTD4.jpg");
    background-size: 100%;
}
#contenta16 {
    background-image: url("/portfolio/images/film/PeopleLTD5.jpg");
    background-size: 100%;
}
#contenta17 {
    background-image: url("/portfolio/images/film/PeopleLTD6.jpg");
    background-size: 100%;
}
#contenta18 {
    background-image: url("/portfolio/images/film/Swonderful.jpg");
    background-size: 100%;
}
#contenta19 {
    background-image: url("/portfolio/images/film/Swonderful1.jpg");
    background-size: 100%;
}
#contenta20 {
    background-image: url("/portfolio/images/film/Swonderful2.jpg");
    background-size: 100%;
}
#contenta21 {
    background-image: url("/portfolio/images/film/Swonderful3.jpg");
    background-size: 100%;
}
#contenta22 {
    background-image: url("/portfolio/images/film/Swonderful4.jpg");
    background-size: 100%;
}
